<form class="options" [formGroup]="optionGroup">
  <div class="content">
    <label>
      @let playerSpeedControl = optionGroup.controls.playerSpeed;

      <span [class.has-error]="playerSpeedControl.errors !== null"
        >{{playerSpeedControl.errors | fromControlError: 'Player Speed'}}</span
      >

      <input
        [class.has-error]="playerSpeedControl.errors !== null"
        [formControl]="playerSpeedControl"
        class="input"
        type="number"
      />
    </label>

    <label>
      @let fallingSpeedControl= optionGroup.controls.fallenItemSpeed;

      <span [class.has-error]="fallingSpeedControl.errors !== null">
        {{fallingSpeedControl.errors | fromControlError : 'Falling Speed'}}
      </span>

      <input
        [class.has-error]="fallingSpeedControl.errors !== null"
        [formControl]="fallingSpeedControl"
        class="input"
        type="number"
      />
    </label>

    <label>
      @let fallingTickControl= optionGroup.controls.fallingFrequency;

      <span [class.has-error]="fallingTickControl.errors !== null"
        >{{fallingTickControl.errors | fromControlError : 'Falling Frequency'}}
      </span>

      <input
        [class.has-error]="fallingTickControl.errors !== null"
        [formControl]="fallingTickControl"
        class="input"
        type="number"
      />
    </label>

    <label>
      @let timeRemainingControl= optionGroup.controls.gameTime;

      <span [class.has-error]="timeRemainingControl.errors !== null"
        >{{timeRemainingControl.errors | fromControlError : 'Game Time'}}
      </span>

      <input
        [class.has-error]="timeRemainingControl.errors !== null"
        [formControl]="timeRemainingControl"
        class="input"
        type="number"
      />
    </label>
  </div>
</form>
