:host {
  padding: 16px;

  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
}

.controls {
  display: grid;

  gap: 10px;
}

.game-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.scene-container {
  overflow: hidden;
}
