/* You can add global styles to this file, and also import other style files */

:root {
  --game-ng-color: rgb(41, 51, 42);
  --game-warning-color: rgb(226, 56, 56);
}

body {
  padding: 0;
  margin: 0;

  height: 100vh;

  * {
    box-sizing: border-box;
  }
}
